# https://slugs.do-api.dev/

# s-1vcpu-512mb-10gb  $4    10GB
# s-1vcpu-1gb         $6    25GB
# s-1vcpu-2gb         $12   50GB
# s-2vcpu-2gb         $18   60GB
# s-2vcpu-4gb         $24   80GB
# s-4vcpu-8gb         $48   160GB

region = "sfo2"
droplet_count = 1
droplet_size = "s-2vcpu-4gb"
ssh_key = "CHANGE_ME"
subdomain = "minimal-vpc"
domain_name = "CHANGE_ME"
